@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
:root {
  --bck-color-primary: #ff2600;
  --bck-color-secondary: #000000;
  --color-primary: #ffff;
  --color-secondary: #df4a30;
  --color-terciary: #ffb700;
  --color-4: #b0c90c54;
}
#app {
  position: relative;
  /* width: 100%; */
  top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-app {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.reload {
  font-family: 'Monoton', sans-serif;
  letter-spacing: 0.4rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  color: var(--color-terciary);
  background-color: var(--bck-color-secondary);
  cursor: pointer;
  transition: all 0.5s;
}
#reload:hover {
  transform: scale(1.04);
}

.counter-title {
  background-color: transparent;
  margin: 2rem;
  font-size: 1.7rem;
  color: var(--color-terciary);
  font-family: 'Monoton', sans-serif;
  letter-spacing: 0.2rem;
  border-bottom: 3px solid var(--bck-color-secondary);
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.35);
}
.game-container {
  background-color: transparent;
  width: 40rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0.1rem;
}
.flip-card {
  width: 144px;
  height: 140px;
  perspective: 1000px;
}
.flip-card-inner {
  height: 100%;
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  outline: solid 4px var(--color-terciary);
  background-color: transparent;
  max-width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.image-card,
.img-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
}

.image-card:hover,
.img-back:hover {
  transform: scale(1.08);
}
.win-text {
  background-color: transparent;
  color: var(--bck-color-secondary);
}

@media (max-width: 650px) {
  #app {
    top: 17rem;
    width: 100%;
    flex-direction: column;
  }
  .game-container {
    width: 95%;
    gap: 0;
  }
  .flip-card {
    max-width: 90px;
    max-height: 90px;
  }
  .counter-title {
    font-size: 1.3rem;
  }
}
