@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
:root {
  --bck-color-primary: #ff2600;
  --bck-color-secondary: #000000;
  --color-primary: #ffff;
  --color-secondary: #df4a30;
  --color-terciary: #ffb700;
  --color-4: #b0c90c54;
}
#choose-text {
  background-color: transparent;
  color: var(--color-terciary);
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Black Ops One', system-ui;
  margin-top: 5rem;
  margin-left: 5rem;
  transform: scale(1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.container > * {
  background-color: transparent;
  font-family: 'Monoton', sans-serif;
}
.container > h2 {
  letter-spacing: 0.8rem;
  font-size: 3em;
  max-width: 800px;
  text-align: center;
}
#containerGif {
  margin-top: 5rem;
  border-radius: 50%;
  width: 300px;
  height: 250px;
}
#gif {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#bottonPlay {
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 2rem 1rem;
  border: solid 3px var(--bck-color-secondary);
  cursor: pointer;
  transition: all 0.5s;
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 2.5s linear infinite;
}
#bottonPlay:hover {
  transform: scale(1.1);
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
@media (max-width: 420px) {
  .container > h2 {
    letter-spacing: 0.8rem;
    font-size: 2em;
  }
  #containerGif {
    display: none;
  }
  #gif {
    display: none;
  }
}
